.admin-register-input-textarea{
    width: 100%;
    height: 100vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}
.thumbnail-preview{
    max-width: 40%;
}