.main-item-center-column {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.main-item-container {
  width: 100%;
  max-width: calc(260px * 5);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr)); /* ✅ 계산 과잉 방지 */
  /* aspect-ratio: 1; */
  gap: 0px 0px;
}
.main-item{
  width: 100%;
  /* height: 376.64px; */
  aspect-ratio: 260 / 402; /* ✅ 비율 유지 */
  background-color: white;
  display: flex;
  flex-direction: column;
}
.main-item-thumbnail{
  width: 100%;
  height: calc(312/406 * 100%);
  /* background-color: #fff; */
  aspect-ratio: 260 / 312;
}
.main-item-descriptions{
  font-size: clamp(8px, 1.0vw, 16px);
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: calc(96/406 * 100%);
  aspect-ratio: 260 / 96;
}
.main-item-brand{
  cursor: pointer;
}

 @media (max-width: 900px) {
  .main-item-container {
    grid-template-columns: repeat(6, 143.5px);
  }

  .main-item {
    width: 143.5px;
    height:calc(143.5px * 402 / 260);  /* 비율 고정 */
    flex: none;
  }

}